<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SecurityApp1-BASIC-DIGEST</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <error-page>
      <error-code>403</error-code>
      <location>/login_error.html</location>
  </error-page>
  
  <security-constraint>
            <web-resource-collection>
                  <web-resource-name>NIT</web-resource-name>
                 <url-pattern>/accounturl</url-pattern>
                 <url-pattern>/get_locker.jsp</url-pattern>
         </web-resource-collection>
            <auth-constraint>
                  <role-name>MANAGER</role-name>
            </auth-constraint>
       </security-constraint>
      <login-config>
            <auth-method>FORM</auth-method>
            <realm-name>myrealm</realm-name>
            <form-login-config>
                <form-login-page>/login.html</form-login-page>
                <form-error-page>/login_error.html</form-error-page>
            </form-login-config>
       </login-config>
  </web-app>