<web-app>
	<servlet>
		<servlet-name>html</servlet-name>
		<servlet-class>com.nt.servlet.HtmlServlet</servlet-class>
		<init-param>
		  <param-name>p1</param-name>
		  <param-value>val1</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>html</servlet-name>
		<url-pattern>/hturl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>plain</servlet-name>
		<servlet-class>com.nt.servlet.PlainServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>plain</servlet-name>
		<url-pattern>/purl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>xml</servlet-name>
		<servlet-class>com.nt.servlet.XmlServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>xml</servlet-name>
		<url-pattern>/xurl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>word</servlet-name>
		<servlet-class>com.nt.servlet.WordServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>word</servlet-name>
		<url-pattern>/docurl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>excel</servlet-name>
		<servlet-class>com.nt.servlet.ExcelServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>excel</servlet-name>
		<url-pattern>/xlsurl</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>lc</servlet-name>
		<servlet-class>com.nt.servlet.LcTestServlet</servlet-class>
		 <init-param>
		    <param-name>dbuser</param-name>
		    <param-value>system1</param-value>
		 </init-param>
		  <init-param>
		    <param-name>dbpwd</param-name>
		    <param-value>manager1</param-value>
		 </init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lc</servlet-name>
		<url-pattern>/lcurl</url-pattern>
	</servlet-mapping>
</web-app>