<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JspApp17-CustTaglib</display-name>
  <welcome-file-list>
    <welcome-file>test.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
        <taglib-uri>http://nit.com/tags</taglib-uri>
        <taglib-location>/WEB-INF/nit.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>