<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>JspApp7-GlobalErrorPages</display-name>
  
    <!-- <error-page>
         <exception-type>java.lang.Exception</exception-type>
         <location>/err1.html</location>
    </error-page> -->
  
    <error-page>
         <exception-type>java.lang.NumberFormatException</exception-type>
         <location>/error.jsp</location>
    </error-page>
    
      <error-page>
         <exception-type>java.lang.NullPointerException</exception-type>
         <location>/err.html</location>
    </error-page>
    
     
</web-app>